[submodule "Impaction/vendor/spdlog"]
	path = Impaction/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Impaction/vendor/GLFW"]
	path = Impaction/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
